<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://maiguoer-down.oss-cn-shanghai.aliyuncs.com/test/ios/MaiGuoErTest20180617.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>full-size-image</key>
				<string>http://www.maiguoer.com/data/download/Icon72.png</string>
				<key>display-image</key>
				<string>http://www.maiguoer.com/data/download/Icon.png</string>
				<key>bundle-identifier</key>
				<string>com.maiguoer.ios</string>
				<key>bundle-version</key>
				<string>V1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>maiguoer</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
